.to-do-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.edit-button {
  background-color: hsl(180, 84%, 45%);
}

.edit-button:hover {
  background-color: hsl(180, 47%, 44%);
}

.save-button {
  background-color: hsl(124, 47%, 54%);
}

.save-button:hover {
  background-color: hsl(124, 47%, 44%);
}

.add-button {
  background-color: hsl(124, 47%, 54%);
}

.add-button:hover {
  background-color: hsl(125, 47%, 44%);
}

.delete-button {
  background-color: hsl(10, 90%, 50%);
}

.delete-button:hover {
  background-color: hsl(10, 90%, 40%);
}

.move-button {
  background-color: hsl(207, 90%, 64%);
}

.move-button:hover {
  background-color: hsl(207, 90%, 54%);
}

.down-button {
  background-color: hsl(207, 90%, 64%);
}

.down-button:hover {
  background-color: hsl(207, 90%, 54%);
}

input[type='text'] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsl(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsl(0, 0%, 0%, 0.5);
}

ol {
  padding: 0;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsl(0, 0%, 85%, 0.75);
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.save-button,
.edit-button,
.delete-button,
.move-button,
.down-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}

@media (max-width: 600px) {
  input {
    width: 100%;
  }

  .text {
    font-size: 1.5rem; /* Ensures the font size does not get too small */
  }

  li {
    flex-direction: column; /* Stacks the elements vertically */
    align-items: center; /* Aligns items to the start of the 'li' element */
  }

  button {
    margin-top: 5px; /* Adds space above buttons when stacked vertically */
    width: 100%; /* Makes buttons full width for easier tapping */
  }
  .move-button, .down-button {
    display: none;
  }
}